body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:43px;
  height:42px;
  display:flex;
  color:#FFFFFF;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:85px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:139px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:196px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:601px;
  display:flex;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:601px;
}
#u116_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(3, 191, 22, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:18px;
  width:320px;
  height:53px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(192, 0, 23, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:597px;
  width:320px;
  height:53px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:670px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:92px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:98px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:98px;
  width:65px;
  height:35px;
  display:flex;
  opacity:0.9;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:156px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:162px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:220px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:226px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:283px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:289px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:344px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:351px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:676px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:406px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:413px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:468px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:475px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:530px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:536px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:162px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:289px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:226px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:350px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:412px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:474px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:536px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:676px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:732px;
  width:320px;
  height:47px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:738px;
  width:65px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:738px;
  width:150px;
  height:35px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
