body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u543 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u544_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:43px;
  height:42px;
  display:flex;
  color:#FFFFFF;
}
#u545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:85px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:139px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:196px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:601px;
  display:flex;
}
#u550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:83px;
  width:320px;
  height:50px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:35px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:90px;
  width:30px;
  height:35px;
  display:flex;
}
#u553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u555_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:148px;
  width:320px;
  height:50px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:156px;
  width:35px;
  height:35px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:213px;
  width:320px;
  height:50px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:221px;
  width:35px;
  height:35px;
  display:flex;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:278px;
  width:320px;
  height:50px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:286px;
  width:35px;
  height:35px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(4, 249, 29, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:535px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:74px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:548px;
  width:92px;
  height:74px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:560px;
  width:50px;
  height:50px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:535px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:560px;
  width:50px;
  height:50px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:74px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:548px;
  width:91px;
  height:74px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:16px;
  width:45px;
  height:36px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:85px;
  width:69px;
  height:46px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:148px;
  width:320px;
  height:50px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:46px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:150px;
  width:225px;
  height:46px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:156px;
  width:35px;
  height:35px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:46px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:215px;
  width:202px;
  height:46px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:46px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:280px;
  width:202px;
  height:46px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:320px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:347px;
  width:375px;
  height:320px;
  display:flex;
}
#u580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:152px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:515px;
  width:133px;
  height:152px;
  display:flex;
}
#u581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:28px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:227px;
  width:2px;
  height:25px;
  display:flex;
}
#u582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
