body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:66px;
  display:flex;
  color:#FFFFFF;
  text-align:center;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  display:flex;
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:43px;
  height:42px;
  display:flex;
  color:#FFFFFF;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:85px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:139px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:196px;
  width:349px;
  height:40px;
  display:flex;
  text-decoration:underline ;
  color:#0000FF;
  text-align:left;
}
#u376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:601px;
  display:flex;
}
#u377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(4, 249, 29, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:534px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:77px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:546px;
  width:70px;
  height:77px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:60px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:554px;
  width:56px;
  height:60px;
  display:flex;
}
#u381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:103px;
  width:320px;
  height:200px;
}
#u382_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:200px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
}
#u382_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u382_state0_content {
  left:-3px;
  top:-3px;
}
#u383_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u383_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:17px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u383_img.disabled {
}
#u383.disabled {
}
#u384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u384_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:54px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_img.disabled {
}
#u384.disabled {
}
#u385_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u385_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:130px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_img.disabled {
}
#u385.disabled {
}
#u386_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u386_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:93px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u386_img.disabled {
}
#u386.disabled {
}
#u387_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u387_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:242px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_img.disabled {
}
#u387.disabled {
}
#u388_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u388_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:317px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_img.disabled {
}
#u388.disabled {
}
#u389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u389_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:167px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u389_img.disabled {
}
#u389.disabled {
}
#u390_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u390_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:205px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_img.disabled {
}
#u390.disabled {
}
#u391_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u391_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:280px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u391_img.disabled {
}
#u391.disabled {
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u392_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
  padding:3px 2px 3px 2px;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:26px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:355px;
  width:231px;
  height:26px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_img.disabled {
}
#u392.disabled {
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:2px 2px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:353px;
  width:320px;
  height:100px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:73px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:365px;
  width:290px;
  height:73px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#000000;
}
#u395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:100px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:5px;
  -moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  -webkit-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  box-shadow:3px 3px 1px rgba(0, 0, 0, 0.996078431372549);
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:534px;
  width:150px;
  height:100px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:77px;
  background:inherit;
  background-color:rgba(4, 249, 29, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:546px;
  width:70px;
  height:77px;
  display:flex;
  font-family:'Comic Sans MS Fett', 'Comic Sans MS Standard', 'Comic Sans MS';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
#u398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:60px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:554px;
  width:56px;
  height:60px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
